version: '3.7'

services:
  app:
    image: bft-image-analyzer
    build:
      context: .
      dockerfile: Dockerfile
      target: deploy
    volumes:
      - '.:/usr/src/app'
      - '/usr/src/app/node_modules'
    ports:
      - 3000:3000
