version: "3.7"

services:
  app:
    image: bft-image-analyzer
    build: .
    ports:
      - 3000:3000
    volumes:
      - ./app/:/code/app
    env_file:
      - ./.env
  model:
    container_name: brain_tumor_detection
    image: hencor2019/brain_tumor_dectection:dev
    environment:
      - PORT=8501
    depends_on:
      - app
  model_validator:
    container_name: brain_tumor_validator
    image: hencor2019/brain_tumor_validator:dev
    environment:
      - PORT=8505
    depends_on:
      - app
